body{
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: white !important;
}

p{ 
     text-align: center; 
     overflow: overlay;
     position: relative;
}

body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: rgb(248, 248, 248)
}

g.selected > g > rect {
    stroke: rgb(6, 82, 255);
}

g > g > rect {
    stroke-width: 2;
    stroke: black;
}

g {
    fill: white;
    cursor: pointer;
}

g:hover {
    fill: rgb(200, 238, 241);
}

path.link {
    fill: none;
    stroke: #333;
    stroke-width: 4px;
    cursor: pointer;
}

path.link.selected, path.link.selected:hover {
    stroke: rgb(6, 82, 255);
}

path.link:hover {
    stroke: rgb(94, 196, 204);
}

path.link.hidden {
    stroke-width: 0;
}

.container {
    display: flex;
    margin: 0;
    padding: 0;
}

#graphMenu {
    flex: 0 0 242px;
    display: flex;
}

.ant-collapse {
    width: 100%;
}

.anticon-down-circle {
    margin-right: 10px;
    font-size: 18px;
    margin-top: 3px;
}

.ant-collapse-expand-icon {
    display: flex;
    align-items: center;
}

.ant-collapse-header {
    background-color: #D6EEFF;
    border-color: #D6EEFF;
}

.ant-collapse {
    background-color: #D6EEFF;
    overflow-y: auto;
    height: calc(100vh - 42px);
    padding-bottom: 10px;
    margin: 5px;
}

.ant-collapse > .ant-collapse-item {
    border: none;
}

.elementHolder {
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.groupDiv {
    width: fit-content;
    height: fit-content;
    cursor: grab;
    margin: 2px;
}

.box {
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.elemImage {
    max-width: 45px;
    max-height: 45px;
}

.ant-collapse-content-box {
    padding: 0 16px 5px 16px !important;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
    padding: 5px;
}

.ant-tabs {
    margin: 5px 5px 5px 0px;
}

.ant-menu {
    background-color: #ABDCFF;
}

.ant-menu-horizontal {
    line-height: 30px;
}

.ant-tabs-tab {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.ant-tabs-top > .ant-tabs-nav, .ant-tabs-bottom > .ant-tabs-nav, .ant-tabs-top > div > .ant-tabs-nav, .ant-tabs-bottom > div > .ant-tabs-nav {
    margin: 0 0 5px 0;
}

.ant-tabs-tab:not(.ant-tabs-tab-active) {
    background-color: #D6EEFF !important;
}

.ant-tabs-tab .ant-tabs-tab-btn {
    color: black !important;
    text-shadow: none !important;
}

.ant-tabs-tab:not(.ant-tabs-tab-active):hover {
    background-color: #c2d9ff !important;
    transition: background-color 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.ant-tabs-tabpane {
    border: 1px solid lightgray;
}

.ant-tabs-top > .ant-tabs-nav::before, .ant-tabs-bottom > .ant-tabs-nav::before, .ant-tabs-top > div > .ant-tabs-nav::before, .ant-tabs-bottom > div > .ant-tabs-nav::before {
    border: none !important;
}

.expand {
    /*this is not necessary long term, as SVGs will handle width / height*/
    width: 83.8vw;
    height: 89.3vh;
    padding: 10px;
}

.ant-menu-submenu:hover:after, .ant-menu-horizontal > .ant-menu-item::after, .ant-menu-horizontal > .ant-menu-submenu::after {
    border: none !important;
}

.ant-menu-submenu-title {
    font-weight: bold;
}