@font-face {
    font-family: SegoeUI;
    src: url(SegoeUI.woff);
}

@font-face {
    font-family: SegoeUIBold;
    font-style: normal !important;
    src: url(SegoeUIBold.woff);
}

@font-face {
    font-family: Symbola;
    src: url(Symbola_arrows.ttf);
}

html, body {
    font-family: unset;
    font: normal 14px "Segoe UI", "SegoeUI" !important;
}

h1:focus {
    outline: none
}

a, .btn-link {
    color: #0071c1
}

.btn-primary {
    background-color: #1b6ec2;
    border-color: #1861ac;
    color: #fff
}

.content {
    padding-top: 1.1rem
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050
}

.invalid {
    outline: 1px solid red
}

.validation-message {
    color: red
}

#blazor-error-ui {
    background: #ffffe0;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0,0,0,0.2);
    display: none;
    left: 0;
    padding: .6rem 1.25rem .7rem;
    position: fixed;
    width: 100%;
    z-index: 1000
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: .75rem;
    top: .5rem
}

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem,#b32121;
    color: #fff;
    padding: 1rem 1rem 1rem 3.7rem
}

.blazor-error-boundary::after {
    content: "An error has occurred."
}

body {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    background-color: #fff !important;
    background-color: #f8f8f8;
    margin: 0;
    overflow: hidden;
    padding: 0;
    user-select: none
}

p {
    position: relative;
    text-align: center
}

.outline {
    fill: #fff;
    stroke: #000;
    stroke-width: 2
}

.selectable {
    fill: #fff
}

g {
    fill: none;
    pointer-events: all
}

.boglElem {
    cursor: pointer
}

path.link {
    fill: none;
    stroke: #333;
    stroke-width: 4px
}

g.selected > text {
    fill: #0652ff
}

.hoverablePath:hover {
    cursor: pointer;
    stroke: #5ec4cc
}

path.link.hidden {
    stroke-width: 0
}

.pageContainer {
    display: flex;
    margin: 0;
    padding: 0
}

#graphMenu {
    display: flex;
    flex: 0 0 242px
}

.ant-collapse {
    background-color: #D6EEFF;
    height: calc(100vh - 42px);
    margin: 5px;
    overflow-y: auto;
    padding-bottom: 10px;
    width: 100%
}

.anticon-down-circle {
    font-size: 18px;
    margin-right: 10px;
    margin-top: 3px
}

.ant-collapse-expand-icon {
    align-items: center;
    display: flex
}

.ant-collapse-header {
    background-color: #D6EEFF;
    border-color: #D6EEFF
}

.ant-collapse > .ant-collapse-item {
    border: none
}

.elementHolder {
    background: #fff;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    padding: 10px;
    width: 100%
}

.groupDiv {
    cursor: grab;
    height: fit-content;
    margin: 2px;
    width: fit-content
}

.box {
    align-items: center;
    background-color: #fff;
    display: flex;
    height: 50px;
    justify-content: center;
    width: 50px
}

.elemImage {
    max-height: 45px;
    max-width: 45px
}

.ant-collapse-content-box {
    padding: 0 16px 5px !important
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
    padding: 5px
}

.ant-tabs {
    margin: 5px 5px 5px 0
}

.ant-menu {
    background-color: #ABDCFF
}

.ant-menu-horizontal {
    line-height: 30px
}

.ant-tabs-tab {
    border: 1.5px solid lightgray !important;
    border-bottom-color: #fff !important;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    padding: 4px 8px !important
}

.ant-tabs-top > .ant-tabs-nav, .ant-tabs-bottom > .ant-tabs-nav, .ant-tabs-top > div > .ant-tabs-nav, .ant-tabs-bottom > div > .ant-tabs-nav {
    margin: 0 0 3px
}

.ant-tabs-tab:not(.ant-tabs-tab-active) {
    background-color: #D6EEFF !important
}

.ant-tabs-tab .ant-tabs-tab-btn {
    color: #000 !important;
    text-shadow: none !important
}

.tabsEnabled > div > div > div > div > .ant-tabs-tab:not(.ant-tabs-tab-active) {
    background-color: #D6EEFF !important;
    cursor: pointer !important;
}

.ant-tabs-tab:not(.ant-tabs-tab-active).ant-tabs-tab-disabled {
    background-color: #f5f5f5 !important;
}

.ant-tabs-tab:not(.ant-tabs-tab-active):not(.ant-tabs-tab-disabled):hover, .tabsEnabled > div > div > div > div > .ant-tabs-tab:not(.ant-tabs-tab-active):hover {
    background-color: #c2d9ff !important;
    transition: background-color .1s cubic-bezier(0.645,0.045,0.355,1)
}

.tabsEnabled > div > div > div > div > .ant-tabs-tab {
    cursor: pointer !important;
}

.ant-tabs-tabpane {
    border: 1px solid lightgray
}

.ant-tabs-content {
    height: calc(100vh - 79px)
}

.expand {
    height: 89.3vh;
    padding: 10px;
    width: 83.8vw
}

.card-container {
    flex: 1 1 0
}

.graphSVG {
    height: calc(100vh - 81px);
    width: 100%
}

.boglLogo {
    padding-right: 20px !important
}

.iconDiv {
    padding-left: 20px !important
}

.boglLogo > img {
    margin-top: -3px
}

.boglLogo > div {
    display: inline-block;
    left: -5px;
    position: relative;
    top: -2px
}

.boglLogo:hover > div {
    color: #000 !important
}

.ant-menu-horizontal > .ant-menu-item, .ant-menu-horizontal > .ant-menu-submenu {
    top: 0;
    vertical-align: unset
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu {
    padding: 0 10px
}

.menuIcon {
    height: 15px;
    margin-top: -7px
}

.ant-btn-text[disabled] {
    opacity: 40% !important
}

.topMenu {
    font: bold 14px "Segoe UI", "SegoeUIBold" !important;
}

circle {
    pointer-events: none
}

text {
    dominant-baseline: middle;
    fill: #000
}

#app {
    align-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center
}

#loadingImageWrapper {
    display: block;
    position: relative;
    width: 256px;
    height: 256px
}

.bouncingLogo {
    animation-direction: normal;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-name: bounce;
    position: absolute;
    left: 0;
    top: 0
}

.gearContainer {
    width: 100%;
    height: 100%;
}

#bouncingGear {
    margin-left: 50%;
    margin-top: 14%;
    animation-direction: alternate;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-name: spin;
}

@-ms-keyframes spin {
    from {
        -ms-transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(140deg);
    }
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(140deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(140deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(140deg);
    }
}

#loadingText {
    display: block;
    font-size: 40px
}

#loadingWrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%
}

g.selected > g > g > .outline, path.link.selected, path.link.selected:hover {
    stroke: #0652ff
}

.ant-tabs-top > .ant-tabs-nav::before, .ant-tabs-bottom > .ant-tabs-nav::before, .ant-tabs-top > div > .ant-tabs-nav::before, .ant-tabs-bottom > div > .ant-tabs-nav::before, .ant-menu-submenu:hover:after, .ant-menu-horizontal > .ant-menu-item::after, .ant-menu-horizontal > .ant-menu-submenu::after {
    border: none !important
}

@keyframes bounce {
    50% {
        transform: scale(1)
    }

    0%,100% {
        transform: scale(0.65)
    }
}

.ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header > .ant-collapse-expand-icon {
    left: auto;
    margin: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%)
}

#modifierMenu {
    display: table;
    height: fit-content;
    position: absolute;
    right: 15px;
    width: 120px
}

#modifierMenu > .ant-collapse {
    height: 100%;
    overflow: clip !important;
    padding-bottom: 0;
    margin-bottom: 0;
}

#modifierCheckboxWrapper > .ant-checkbox-wrapper {
    margin-left: 0
}

.ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header {
    margin-left: 5px
}

#modifierPanel > div > .ant-collapse-content-box {
    padding: 0 10px 5px !important
}

.ant-collapse-icon-position-right > div > .ant-collapse-header {
    padding-bottom: 0 !important;
    padding-top: 2px !important
}

hr:not([size]) {
    color: #fff;
    height: 1.5px !important;
    margin: 2px 0;
    opacity: 1
}

.arrowButton {
    color: #a9a9a9;
    font-size: 30px;
    line-height: 20px;
    font-family: Symbola !important;
}

.longArrow.ant-btn-lg, .tallArrow.ant-btn-lg {
    padding: 0 !important;
    position: absolute;
    top: 0
}

#clearVelocityWrapper {
    align-items: center;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='2' stroke-dasharray='1%2c 5' stroke-dashoffset='4' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 3px;
    display: flex;
    height: 60px;
    justify-content: center;
    margin: 30px auto;
    width: 60px
}

.bogl_button {
    background-color: #ABDCFF;
    border: 1.5px solid #ABDCFF;
    border-radius: 5px;
    color: #000 !important;
    font-size: 12px;
    height: auto;
    line-height: 15px;
    padding: 4px 5px
}

.bogl_button:hover:not(:disabled) {
    background-color: #BEE6FD !important
}

.bogl_button:focus:not(:disabled), .bogl_button:active:not(:disabled) {
    background-color: #ABDCFF !important
}

.longArrow {
    height: 25px !important;
    width: 30px !important;
}

.tallArrow {
    height: 30px !important;
    width: 25px !important
}

.tallArrow > span > .arrowButton {
    line-height: 30px
}

.topArrow {
    margin-top: -5px
}

.bottomArrow {
    margin-left: -12px;
    margin-top: 5px
}

.sideTopArrow {
    margin-top: -3px
}

#velocities {
    position: relative
}

#generateButton {
    bottom: 20px;
    position: absolute;
    right: 20px
}

#ruleLoadProgress {
    bottom: 20px;
    left: 395px;
    position: absolute;
    width: calc(100% - 490px)
}

#generateProgress {
    bottom: 20px;
    left: 434px;
    position: absolute;
    width: calc(100% - 530px)
}

#causalSelect {
    position: absolute;
    right: 10px;
    top: 77px
}

#zoomMenu {
    bottom: 50px;
    position: absolute;
    right: 15px;
    width: 70px
}

#zoomMenu > div {
    height: auto
}

#zoomMenu .ant-collapse-content-box {
    align-items: center;
    display: flex;
    flex-direction: column;
}

#zoomMenu .ant-slider {
    margin-bottom: 10px
}

#zoomMenu .bogl_button {
    padding: 4px 10px
}

.ant-slider-mark {
    display: none
}

.ant-slider {
    max-height: calc(100vh - 540px);
    min-height: 100px;
    height: 30vh;
}

.ant-slider-rail, .ant-slider:hover .ant-slider-rail {
    background-color: #e3eaed !important;
    border: solid 1px #d6d6d6
}

.sliderLabel {
    color: #a9a9a9;
    font-size: 15px;
    font: bold 14px "Segoe UI", "SegoeUIBold" !important;
}

.sliderLabel:not(.segoeUIBold) {
    font-weight: 700;
}

.ant-slider-track, .ant-slider .ant-slider-track:hover {
    background-color: transparent !important
}

#plusLabel {
    left: 20px;
    position: absolute;
    top: 7px
}

#minusLabel {
    left: 20px;
    position: absolute;
    top: calc(100% - 85px)
}

.ant-slider-handle {
    background-color: transparent;
    height: 0;
    width: 0
}

.ant-slider-vertical .ant-slider-handle {
    margin: 0
}

.ant-slider-handle:focus {
    border-color: transparent !important;
    box-shadow: none !important
}

.ant-slider-handle:hover {
    outline: none
}

#sliderImg {
    height: 11px;
    left: -7px;
    position: absolute;
    top: -5.5px
}

.ant-slider-rail {
    border-radius: 0 !important
}

#zoomMenu .ant-collapse-item {
    display: flex;
    flex-direction: column-reverse
}

#zoomMenu .ant-collapse {
    padding-bottom: 2px
}

#zoomMenu .ant-collapse-content {
    padding-top: 5px
}

.selectedVelocity > span > div {
    color: #000 !important
}

.velocityArrow {
    font-size: 25px;
    font-family: Symbola !important;
}

.topVelocity {
    dominant-baseline: middle;
    text-anchor: start
}

.oneVelocity {
    dominant-baseline: middle;
    text-anchor: end
}

.rightVelocity {
    alignment-baseline: central;
    text-anchor: start
}

.bottomVelocity {
    dominant-baseline: central;
    text-anchor: end
}

.rightVelocityMath {
    alignment-baseline: mathematical;
    text-anchor: start
}

.bottomVelocityMath {
    dominant-baseline: mathematical;
    text-anchor: end
}

.leftVelocity {
    alignment-baseline: middle;
    text-anchor: end
}

#modifierCheckboxWrapper > label, #modifierMenu .ant-collapse-header, #zoomMenu .ant-collapse-header {
    font-size: 12px
}

#ruleLoadProgressText, #generateProgressText {
    bottom: 20px;
    left: 255px;
    margin: 0;
    position: absolute
}

.ant-tabs-tabpane {
    visibility: visible;
}

.ant-tabs-tabpane[aria-hidden="true"] {
    visibility: hidden !important;
}

.ant-menu-hidden, .ant-menu-submenu-hidden {
    display: table;
}

[hidden-menu=true], .ant-menu-submenu-popup:not([hidden-menu]) {
    display: none !important;
}

input[type="file"] {
    position: fixed;
    right: 100%;
    bottom: 100%;
}

.customFileUpload {
    display: inline-block;
    cursor: pointer;
    width: 100%;
}