@page "/"

<PageTitle>Index</PageTitle>

<script suppress-error="BL9992" type="module" src="graph-creator.js"></script>

<body>
    <div class="page">
        <main>
            <Menu Selectable=false Mode=MenuMode.Horizontal TriggerSubMenuAction=Trigger.Click>
                <SubMenu title="File">
                    <MenuItem Key="setting:1">New</MenuItem>
                    <MenuItem Key="setting:2">Open</MenuItem>
                    <MenuItem Key="setting:3">Save</MenuItem>
                    <MenuItem Key="setting:4">Save As</MenuItem>
                    <MenuItem Key="setting:5">Export as Image</MenuItem>
                    <MenuItem Key="setting:6">Exit</MenuItem>
                </SubMenu>
                <SubMenu title="Edit">
                    <MenuItem Key="setting:1">Cut</MenuItem>
                    <MenuItem Key="setting:2">Copy</MenuItem>
                    <MenuItem Key="setting:3">Paste</MenuItem>
                    <MenuItem Key="setting:4">Undo</MenuItem>
                    <MenuItem Key="setting:5">Redo</MenuItem>
                    <MenuItem Key="setting:6">Delete</MenuItem>
                </SubMenu>
                <SubMenu title="Help">
                    <MenuItem Key="setting:1"><Checkbox>Confirm deleting many items</Checkbox></MenuItem>
                    <MenuItem Key="setting:2">Tutorial</MenuItem>
                    <MenuItem Key="setting:3">Example Files</MenuItem>
                    <MenuItem Key="setting:4">Report Bugs</MenuItem>
                    <MenuItem Key="setting:5">About BoGL</MenuItem>
                </SubMenu>
            </Menu>
            <div class="container">
                <div id="graphMenu">
                    <div></div>
                    <Collapse Bordered="false">
                        <ExpandIconTemplate>
                            <Icon Type="down-circle" Rotate="@(context ? 180 : 0)" />
                        </ExpandIconTemplate>
                        <ChildContent>
                            <Panel Header="Basic Mechanical Translation" Key="1">
                                <div id="mechTrans" class="elementHolder"></div>
                            </Panel>
                            <Panel Header="Basic Mechanical Rotation" Key="2">
                                <div id="mechRot" class="elementHolder"></div>
                            </Panel>
                            <Panel Header="Transmission Elements" Key="3">
                                <div id="transElem" class="elementHolder"></div>
                            </Panel>
                            <Panel Header="Electrical" Key="3">
                                <div id="electrical" class="elementHolder"></div>
                            </Panel>
                            <Panel Header="Actuators" Key="3">
                                <div id="actuators" class="elementHolder"></div>
                            </Panel>
                        </ChildContent>
                    </Collapse>
                </div>
                <div class="card-container">
                    <Tabs Type="@TabType.Card">
                        <TabPane Key="1" Tab="System">
                            <div id="graph"></div>
                        </TabPane>
                        <TabPane Key="2" Tab="Unsimplified BG">
                            <div class="expand">Content of Tab Pane 2</div>
                        </TabPane>
                        <TabPane Key="3" Tab="Simplified BG">
                            <div class="expand">Content of Tab Pane 3</div>
                        </TabPane>
                        <TabPane Key="4" Tab="Causal BG">
                            <div class="expand">Content of Tab Pane 4</div>
                        </TabPane>
                    </Tabs>
                </div>
            </div>
        </main>
    </div>
</body>