@page "/complexsystemdiagramfromboglfiletest"
@using Newtonsoft.Json.Schema.Generation
@using static BoGLWeb.SystemDiagram

<h3>ComplexSystemDiagramFromBoGLFileTest</h3>

<p>
    System Diagram String: <br>
    <pre>
        @sysDiagramString
    </pre>
</p>

@code {
    private string xmlString;
    private SystemDiagram sysDiagram;
    private string sysDiagramString = "";

    protected override async Task OnInitializedAsync(){
        HttpClient client = new HttpClient();
        HttpResponseMessage exampleResponse = await client.GetAsync("http://localhost:5006/examples/json_test.bogl");
        xmlString= await exampleResponse.Content.ReadAsStringAsync();
        Console.WriteLine(xmlString);
        genSystemDiagram();
    }

    public void genSystemDiagram(){
        Console.WriteLine("-------- PARSING --------");
        sysDiagram = SystemDiagram.generateSystemDiagramFromXML(xmlString);
        Console.WriteLine("-------- DISPLAYING STRING --------");
        foreach(Element e in  sysDiagram.getElements()) {
            sysDiagramString += e.toString();
        }

        foreach(Edge e in sysDiagram.getEdges()) {
            sysDiagramString += e.toString();
        }

        Console.WriteLine("-------- JSON STRING --------");
        Console.WriteLine(sysDiagram.convertToJson());
        JSchemaGenerator generateor = new JSchemaGenerator();
        Console.WriteLine("-------- SYSTEM DIAGRAM SCHEMA --------");
        Console.WriteLine(generateor.Generate(typeof(SystemDiagram)));
        Console.WriteLine("-------- BOND GRAPH SCHEMA --------");
        Console.WriteLine(generateor.Generate(typeof(BondGraph)));
    }
}
