@page "/rulerulesettest"

<h3>RuleRulesetTest</h3>

<p role="status">Num Rulesets: @numRuleSets</p>
<p role="status">Total Rules: @totalRules</p>

@foreach (Pair name in numRules) {
    <p>@name.name : @name.count</p>
}

<Button @onclick="countRules">Count Rules</Button>

@code {
    private int numRuleSets = 0;
    private int totalRules = 0;
    private readonly List<string> ruleNames = new List<string>();
    private readonly List<Pair> numRules = new List<Pair>();

    protected override async Task OnInitializedAsync() {
        ruleNames.Add("BondGraphRuleset"); //58
        ruleNames.Add("SimplificationRuleset"); //27
        ruleNames.Add("DirRuleset"); //5
        ruleNames.Add("newDirectionRuleSet_2"); //15
        ruleNames.Add("DirRuleset3"); //4
        ruleNames.Add("Simplification2"); //32
        ruleNames.Add("NewCausalityMethodRuleset"); //6
        ruleNames.Add("NewCausalityMethodRuleset_2"); //4
        ruleNames.Add("NewCausalityMethodRuleset_3"); //2
        ruleNames.Add("INVDMarkerRules"); //6
        ruleNames.Add("INVDMarkerRules_2"); //0?
        ruleNames.Add("CalibrationNewRuleset"); //12
        ruleNames.Add("CalibrationNewRuleset_2"); //0?
        ruleNames.Add("RFlagCleanRuleset"); //1
        ruleNames.Add("ICFixTotalRuleset"); //12
        ruleNames.Add("TransformerFlipRuleset"); //1
        ruleNames.Add("TransformerFlipRuleset2"); //1
        ruleNames.Add("Clean23Ruleset"); //4
        ruleNames.Add("BeforeBG-VerifyDirRuleSet"); //8

        foreach(string str in ruleNames){
            await RuleSetMap.getInstance().loadRuleSet(str);
            Pair p = new Pair();
            p.name = str;
            p.count = 0;
            numRules.Add(p);
        }
    }

    public void countRules(){
        totalRules = 0;
        numRuleSets = RuleSetMap.getInstance().getNumRules();
        foreach(Pair rule in numRules){
            rule.count = RuleSetMap.getInstance().getRuleSet(rule.name).rules.Count();
            totalRules += rule.count;
        }
    }

    private class Pair{
        public string name;
        public int count;
    }

}
